<h2>Add a New Book:</h2>
<form action="/admin" method="post">
  <input type="text" name="title" id="title" placeholder="Enter Title">
  <input type="text" name="author" placeholder="Enter Author">
  <button type="submit">Add Book</button>
</form>
