<h2 class="well">Welcome to Klinkwig Public Library</h2>
<br>
<div class="row">
  <div class="col-sm-6">
    <form action="/patron" method="post">
      <div class="col-sm-6">
        <input class="form-control" type="text" name="name_input" id="name_input" placeholder="Enter User Name">
      </div>
      <div class="col-sm-6">
        <button type="submit" name="button" class="btn-warning form-control">Enter As Patron</button>
      </div>
    </form>
  </div>
  <div class="col-sm-6">
    <a href="/admin"><button class="form-control btn-danger" type="button" name="button">Enter as Librarian</button></a>
  </div>
</div>
